body {
  background-color: #EEEEEE;
}

.main-menu {
  max-width: 800px;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  min-width: 180px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  color: #999999;
  border: 3px solid transparent;
  box-shadow: -4px -4px 8px 0 rgba(255, 255, 255, 1),
   4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.btn:active {
  border: 3px solid #F0F0F0;
  box-shadow: inset -4px -4px 8px 0 rgba(255, 255, 255, 1),
   inset 4px 4px 8px 0 rgba(0, 0, 0, 0.1),
   2px 2px 2px 0 rgba(0, 0, 0, 0.03),
   -2px -2px 8px 0 rgba(255, 255, 255, 1);
}

.input {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  min-width: 180px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  color: #999999;
  border: 3px solid transparent;
  box-shadow: inset -4px -4px 8px 0 rgba(255, 255, 255, 1),
   inset 4px 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.main-menu > h1 {
  font-weight: 200;
  letter-spacing: 1.5px;
}

.main-menu a {
  color: inherit;
  text-decoration: none;
}

.text-input {
  margin: 8px;
}

.text-input > input {
  padding: 4px;
  width: 200px;
}

.code-input {
  font-size: 24px;
  width: 150px;
  border: none;
  border-bottom: 1px solid gray;
  text-align: center;
  text-transform: uppercase;
}